<p>Здравствуйте!</p>

<p>Получен ответ на вопрос в информационной системе База знаний.</p>

<p>Тема: {{ question.category.name }}</p>
<p>Автор: {{ firstname }} {{ secondname }}</p>
<p>Регион: {{ region }}</p>
<p>Время: {{ time|date('Y-m-d H:i:s') }}</p>
<p>Вопрос: {{ question.question }} </p>
{% if closed == question.status %}
    <h3> Вопрос закрыт! </h3>
{% endif %}
<p><a href="{{ url('answer_action', {'question_id': question.id, 'status': 0}) }}"> Перейти к вопросу </a></p>