Здравствуйте {{ firstname }} {{ secondname }}!

Вам предоставлен доступ в информационный портал "База знаний".

Ссылка: http://knowledgebase.ptl.ru/

Параметры учетной записи.

Логин: {{ username }}

Пароль: {{ password }}

Не забудьте сменить пароль!