<p>Здравствуйте!</p>

<p>Получен вопрос в информационной системе База знаний.</p>

<p>Тема: {{ category }}</p>
<p>Автор: {{ firstname }} {{ secondname }}</p>
<p>Регион: {{ region }}</p>
<p>Время: {{ time|date('Y-m-d H:i:s') }}</p>
<p>Вопрос: {{ question }} </p>
<p><a href="{{ url('list_action') }}"> Перейти к списку вопросов </a></p>
