{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    <style>
        pre {
            font-size: inherit;
            color: inherit;
            border: initial;
            padding: initial;
            font-family: inherit;
        }
    </style>
    {% if (question.status == waiting or question.status == answered) %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="answeraction">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#answer1" aria-expanded=false aria-controls="collapseOne">
                         <strong style="color: #0000F0">Написать ответ или закрыть вопрос</strong>
                    </a>
                    </h4>
                </div>
                {% if editanswer is not defined %}
                <div id="answer1" class="panel-collapse collapse"
                        role="tabpanel" aria-labelledby="answeraction">
                    {% else %}
                    <div id="answer1" class="panel-collapse collapse in"
                         role="tabpanel" aria-labelledby="answeraction">
                        {% endif %}
                    <div class="panel-body">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form.Answer, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Написать сообщение'}}) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.closeQuestion) }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.publishQuestion) }}
        {% else %}
            {{ form_widget(form.publishQuestion, {'attr': {'class': 'hidden'}}) }}
        {% endif %}
        {{ form_row(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <h4> Вопрос: </h4>
        <pre>
            {{ question.Question }}
        </pre>
    {% if (question.status == waiting or question.status == answered) %}
        <a href="/Answer/{{ question.id }}/1">
            {% if is_granted('ROLE_ADMIN') %}
                <span class="btn btn-primary">Пометить, как отвеченный</span>
            {% else %}
                <span class="btn btn-primary">Получить ответ на вопрос</span>
            {% endif %}
        </a>
    {% endif %}
    <table class="table table-striped">
            <tr>
                <td align="center"> <strong> Ответ: </strong></td>
                <td align="center"> <strong> Автор: </strong></td>
                <td align="center"> <strong> Дата: </strong></td>
                <td align="center"> <strong> Приложение: </strong></td>
                <td align="center"> <strong> Действие: </strong></td>
             </tr>
                {% for answer in question.answers|reverse %}
                    <tr>
                        <td><div class="colcell"> <pre>{{ answer.answer }}</pre> </div></td>
                        <td> {{ answer.username }} </td>
                        <td> {{ answer.answerTime|date('Y-m-d H:i:s') }} </td>
                        <td>
                            {% if answer.ImageName != 'null' and  answer.ImageName != '' %}
                               <a href="{{ vich_uploader_asset(answer, 'imageFile') }}"> Приложение </a>
                            {% endif %}
                        </td>
                    {% if answer.account == account_id and question.status != closed %}
                        <td>
                            <a href="/EditAnswer/{{ answer.id }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="/RemoveAnswer/{{ question.id }}/{{ answer.id }}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
        </table>
{% endblock %}