{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <strong>Тема:</strong>
    <div class="row">
        <div class="col-xs-3">
            {{ form_widget(form.Category, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
    <div class="col-xs-9">
        {{ form_widget(form.Question, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Написать сообщение'}}) }}
    </div>
    </div>
        {{ form_row(form.imageFile) }}
        {{ form_row(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}