{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    <table class="table">
        <tr>
            <td align="center"> <strong> Пользователь: </strong></td>
            <td align="center"> <strong> Регион: </strong> </td>
            <td align="center"> <strong> Статус: </strong> </td>
            <td align="center"> <strong> Время последней регистрации: </strong> </td>
            <td align="center"> <strong> Действие: </strong> </td>
        </tr>
        {% for account in accounts %}
            {% set difference = date().diff(date(account.lastLogin)) %}
            {% set diffDays = difference.days %}
            {% if (diffDays > 45 or account.lastLogin == NULL) %}
            <tr>
                <td align="center"> {{ account.firstname }} {{ account.secondname }} </td>
                <td align="center"> {{ account.region.name }} </td>
                <td align="center">
                    {% if  account.enabled == 0  %}
                        Заблокирован
                    {% endif %}
                    {% if  account.enabled == 1  %}
                        В работе
                    {% endif %}
                </td>
                {% if not account.lastLogin == NULL  %}
                    <td align="center"> {{ account.lastLogin|date('Y-m-d H:i:s') }} </td>
                {% else %}
                    <td align="center"> Отсутствует </td>
                {% endif %}
                <td align="center">
                    <a href="/UnblockUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                    <a href="/BlockUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <a href="/RemoveUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <a href="/ListUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                    <a href="/PasswordUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}