{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    {% if errorpass is defined %}
        {{ errorpass }}
    {% endif  %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Пароль'}}) }}
    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Подтверждение пароля'}}) }}
    {{ form_row(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
    {% if form1 is defined %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="answeraction">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#answer1" aria-expanded=false aria-controls="collapseOne">
                         <strong style="color: #0000F0">Изменить данные профиля</strong>
                    </a>
                </h4>
            </div>
            <div id="answer1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="answeraction">
                <div class="panel-body">
                    {{ form_start(form1) }}
                    {{ form_errors(form1) }}
                    <strong>Имя:</strong> {{ form_widget(form1.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
                    <strong>Фамилия:</strong> {{ form_widget(form1.secondname, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                    <div class="row">
                        <div class="col-xs-2">
                            <strong>Регион:</strong> {{ form_widget(form1.region, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <strong>Логин:</strong> {{ form_widget(form1.username, {'attr': {'class': 'form-control', 'placeholder': 'Логин'}}) }}
                    <strong>Email:</strong> {{ form_widget(form1.email, {'attr': {'class': 'form-control', 'placeholder': 'Электронная почта'}}) }}
                    {{ form_row(form1.Save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_end(form1) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}