{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    {% if errorpass is defined %}
        {{ errorpass }}
    {% endif  %}
    {% if form is defined %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="answeraction">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#register" aria-expanded=false aria-controls="collapseOne">
                        <strong style="color: #0000F0">Зарегистрировать пользователя</strong>
                    </a>
                </h4>
            </div>
            <div id="register" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="regaction">
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
                    {{ form_widget(form.secondname, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                    <div class="row">
                        <div class="col-xs-2">
                            <strong>Регион:</strong> {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Логин'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Пароль'}}) }}
                    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Подтверждение пароля'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Электронная почта'}}) }}
                    {{ form_row(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if form1 is defined %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="sortaction">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#sort" aria-expanded=false aria-controls="collapseOne">
                        <strong style="color: #0000F0">Применить фильтр</strong>
                    </a>
                </h4>
            </div>
            <div id="sort" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="sortaction">
                <div class="panel-body">
                    {{ form_start(form1) }}
                    {{ form_errors(form1) }}
                    {{ form_widget(form1.secondname, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
                    <div class="row">
                        <div class="col-xs-2">
                            <strong>Регион:</strong> {{ form_widget(form1.region, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_row(form1.sortStatus) }}
                    {{ form_row(form1.sortTimeLogin) }}
                    {{ form_row(form1.sortLongTimeWithoutLogin) }}
                    {{ form_row(form1.Save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_end(form1) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table class="table">
        <tr>
            <td align="center"> <strong> Пользователь: </strong></td>
            <td align="center"> <strong> Регион: </strong> </td>
            <td align="center"> <strong> Статус: </strong> </td>
            <td align="center"> <strong> Время последней регистрации: </strong> </td>
            <td align="center"> <strong> Действие: </strong> </td>
        </tr>
        {% for account in accounts %}
            <tr>
                <td align="center"> {{ account.firstname }} {{ account.secondname }} </td>
                <td align="center"> {{ account.region.name }} </td>
                <td align="center">
                    {% if  account.enabled == 0  %}
                        Заблокирован
                    {% endif %}
                    {% if  account.enabled == 1  %}
                        В работе
                    {% endif %}
                </td>
                {% if not account.lastLogin == null  %}
                    <td align="center"> {{ account.lastLogin|date('Y-m-d H:i:s') }} </td>
                {% else %}
                    <td align="center"> Отсутствует </td>
                {% endif %}
                <td align="center">
                    <a href="/UnblockUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                    <a href="/BlockUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <a href="/RemoveUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <a href="/ListUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                    <a href="/PasswordUser/{{ account.id }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}