{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    <style>
        pre {
            font-size: medium;
            color: inherit;
            border: initial;
            padding: initial;
            font-family: inherit;
            background-color: inherit;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="navbar-collapse collapse sidebar-navbar-collapse" style="background-color: #D4DBE3"><h3>Темы:</h3></div>
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse" style="background-color: #d0e9c6">
                            <ul class="nav navbar-nav">
                            {% for category in categories %}
                                <li><a href="#cat-{{ category.id }}"><strong>{{ category.name }}</strong></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for category in categories %}
                        <div id="cat-{{ category.id }}"><div class="navbar-collapse collapse sidebar-navbar-collapse" style="background-color: #D4DBE3"><h3>{{ category.name }}</h3></div></div>
                            {% for question in category.questions %}
                                {% if question.status == publish %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#q-{{ question.id }}"
                                                   aria-expanded="false" aria-controls="{{ question.id }}">{{ question.Question }}</a>
                                            </h4>
                                         </div>
                            {% for answer in question.answers %}
                                <div id="q-{{ question.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ answer.id }}">
                                    <div class="panel-body">
                                         <pre>{{ answer.answer }}</pre>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="/EditAnswer/{{ answer.id }}">
                                                <span class="btn btn-primary">Редактировать ответ</span>
                                            </a>
                                            <span>Автор последней публикации ответа: {{ answer.username }}</span>
                                        {% endif %}
                                        <p>
                                    {% if answer.ImageName != 'null' and  answer.ImageName != '' %}
                                         <a href="{{ vich_uploader_asset(answer, 'imageFile') }}"> Приложение </a>
                                    {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                                     </div>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}