{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    <style>
        pre {
            font-size: inherit;
            color: inherit;
            border: initial;
            padding: initial;
            font-family: inherit;
        }
    </style>
        {{ form_start(form) }}
        {{ form_errors(form) }}
    {#{% if not is_granted('ROLE_ADMIN') %}#}
    <div class="row">
        <div class="col-xs-2">
            <strong>Поиск вопросов по статусу:</strong> {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {#{% endif %}#}
    <div class="row">
    <div class="col-xs-5">
    {{ form_widget(form.question, {'attr': {'class': 'form-control', 'placeholder': 'Поиск вопроса по ключевым словам'}}) }}
    </div>
    </div>
    {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
    <table class="table">
    <tr>
            <td align="center"><div class="colcell"> <strong> Вопрос: </strong></div></td>
            <td align="center"> <strong> Тема: </strong> </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td align="center"> <strong> Автор: </strong> </td>
                <td align="center"> <strong> Регион: </strong> </td>
            {% endif %}
            <td align="center"> <strong> Дата: </strong> </td>
            <td align="center"> <strong> Статус: </strong> </td>
            <td align="center"> <strong> Приложение: </strong> </td>
            <td align="center"> <strong> Действие: </strong> </td>
        </tr>
    {% for question in questions %}
        <tr>
            <td><div class="colcell"> <pre>{{ question.Question }}</pre> </div></td>
            <td> {{ question.category.name }} </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td> {{ question.account.firstname }} {{ question.account.secondname }} </td>
                <td> {{ question.account.region.name }} </td>
            {% endif %}
            <td> {{ question.timeTask|date('Y-m-d H:i:s') }} </td>
            <td>
                <a href="/Answer/{{ question.id }}/0">
                    {% if  question.status  == waiting %}
                        Ожидает ответа
                    {% endif %}
                    {% if  question.status  == publish %}
                        Опубликован
                    {% endif %}
                    {% if  question.status  == answered %}
                        Получен ответ
                    {% endif %}
                    {% if  question.status  == closed %}
                        Закрыт
                     {% endif %}
                </a>
            </td>
            <td>
            {% if question.ImageName != 'null' and question.ImageName != '' %}
                <a href="{{ vich_uploader_asset(question, 'imageFile') }}"> Приложение </a>
             {% endif %}
            </td>
             <td>
                {% if question.account.id == account_id %}
                {% if question.status != closed and question.status != publish %}
                <a href="/EditQuestion/{{ question.id }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                {% endif %}
                {% if question.status != publish %}
                <a href="/RemoveQuestion/{{ question.id }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/RemoveQuestion/{{ question.id }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
     {% endfor %}
    </table>
{% endblock %}
