{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

        <h3 class="form-signin-heading">База знаний</h3>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="inputEmail" class="sr-only">{{ 'Имя пользователя'|trans }}</label>
        <input type="text" id="inputEmail" class="form-control" name="_username" value="{{ last_username }}" placeholder="Имя пользователя" required="required" autofocus/>

        <label for="inputPassword" class="sr-only">{{ 'Пароль'|trans }}</label>
        <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Пароль" required="required" />

        <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="{{ 'Войти'|trans }}" />
        <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
    </form>

    </div>
{% endblock fos_user_content %}