<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>База знаний</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/dist/css/bootstrap-theme.min.css') }}" >

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css') }}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/examples/signin/signin.css') }}" >

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie8-responsive-file-warning.js') }}"></script>

    <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>

    <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ asset('assets/vendor/bootstrap/docs/dist/js/bootstrap.min.js') }}"> </script>
  </head>

  <body>

  <div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
      <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
      </a>
    {% endif %}
  </div>

  {% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="flash-{{ type }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
  </div>

  </body>
</html>
