{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h3 style="text-align: center">
{{ 'На указанный Вами адрес электронной почты отправлено письмо,
в котором содержится ссылка для восстановления пароля!'|trans({'%email%': email}) }}
</h3>
{% endblock %}
