{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin">
            <h3 class="form-signin-heading">Восстановление пароля</h3>
            <div>
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label for="username" class="sr-only">{{ 'Имя пользователя или адрес электронной почты'|trans }}</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Адрес электронной почты" required="required" autofocus />
            </div>
            <div>
                <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="{{ 'Выполнить'|trans }}" />
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
