{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-signin' } }) }}
    <h3> Восстановление пароля </h3>
    {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control', 'placeholder': 'Введите новый пароль'}}) }}
    {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control', 'placeholder': 'Подтвердите пароль'}}) }}
    <div>
        <input type="submit" value="{{ 'Восстановить пароль'|trans }}" class="btn btn-lg btn-primary btn-block" name="_submit" />
    </div>
    {{ form_end(form) }}
</div>
{% endblock fos_user_content %}
