<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>База знаний</title>

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/dist/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/dist/css/bootstrap-theme.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/docs/examples/navbar/navbar.css') }}" >

        <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie8-responsive-file-warning.js') }}"> </script>
        <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie-emulation-modes-warning.js') }}"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/vendor/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ asset('assets/vendor/bootstrap/docs/dist/js/bootstrap.min.js') }}"> </script>
        <script src="{{ asset('assets/vendor/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js') }}"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>

  <body style="background: #F5F5F5">

  <style>
      .colcell {
          width: 550px;
          word-wrap: break-word;
      }
  </style>

    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">В начало</a></li>
              <li><a href="/SetTask">Задать вопрос</a></li>
              <li><a href="/ListTasks">Список вопросов</a></li>
              <li><a href="/ListPublicTasks">Опубликованные вопросы</a></li>
              {% if is_granted('ROLE_ADMIN') %}
                <li><a href="/UsersManagement"> Пользователи </a></li>
              {% endif %}
              <li><a href="/Profile">Профиль</a></li>
              <li><a href="/logout">Выйти</a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% block body %}
      {% endblock %}

    </div>
  </body>
</html>
