{% extends 'KnowbaseBundle::base.html.twig' %}

{% block body %}
    <p style="text-align: center"> Здравствуйте, {{ fullname }}! </p>
    <p style="text-align: center"> Добро пожаловать на главную страницу Базы знаний! </p>
{% endblock %}